{% extends "shop/base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p>Цена: {{ product.price }} руб.</p>
    <p>Описание: {{ product.description }}</p>
    {% if active_version %}
        <p>Текущая версия: {{ active_version.version_name }}</p>
    {% endif %}
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    {% endif %}
    <a href="{% url 'product_list' %}" class="btn btn-secondary">Назад к списку</a>
{% endblock %}
