{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2>Список товаров</h2>
    <p>Количество товаров: {{ object_list|length }}</p>
    {% if object_list %}
        <div class="row">
            {% for product in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatechars:100|safe }}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'product_detail' product.pk %}" class="btn btn-sm btn-primary">Подробнее</a>
                            </div>
                            <small class="text-muted">${{ product.price }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Товары отсутствуют.</p>
    {% endif %}
</div>
{% endblock %}
