{% extends "shop/base.html" %}

{% block title %}Список товаров{% endblock %}

{% block content %}
    <h1>Список товаров</h1>
    <p>Количество товаров: {{ products.count }}</p>
    {% if products %}
        <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item">
                    <a href="{% url 'product_detail' product.id %}">
                        {{ product.name }} - {{ product.price }} руб.
                    </a>
                    {% if product.active_version %}
                        <span class="badge bg-primary float-end">Текущая версия: {{ product.active_version.version_name }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Товары отсутствуют.</p>
    {% endif %}
{% endblock %}
